.project-default .thumbnail {
    /* Define uma altura fixa para a área da miniatura. 
        Ajuste este valor conforme necessário para o seu design. */
    height: 200px; 
    background-color: #f0f0f0; /* Cor de fundo para quando não há imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Esconde qualquer conteúdo que exceda a altura */
}

.project-default .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
}

.project-default .thumbnail p {
    padding: 15px; /* Adiciona um espaçamento interno para o texto */
    color: #333; /* Define a cor do texto para cinza escuro */
}
