<div id="page-content" role="main">
	<div class="container">
		<div id="content">
			<div class="container-out container-light">
				<div class="title">
					<h2 class="h3">Currículum</h2>
				</div>
				<div class="text">
					{{{data.profile.curriculum}}}
				</div>
				<div class="push"></div>
				<div class="row-inline-wrap">
					<div class="row row-inline">
						<div class="col-sm-2">
							<p><strong>Site:</strong></p>
						</div>
						<div class="col-sm-10">
							<p><a href="{{data.profile.site}}" target="_blank">{{data.profile.site}}</a></p>
						</div>
					</div>
				</div>
				<div class="row-inline-wrap">
					<div class="row row-inline">
						<div class="col-sm-2">
							<p><strong>Nas redes sociais:</strong></p>
						</div>
						<div class="col-sm-10">
							<ul class="social">
								<li><a href="#.html#" class="vimeo"></a></li>
								<li><a href="#.html#" class="youtube"></a></li>
								<li><a href="#.html#" class="forrst"></a></li>
								<li><a href="#.html#" class="dribbble"></a></li>
								<li><a href="#.html#" class="pinterest"></a></li>
								<li><a href="#.html#" class="facebook"></a></li>
								<li><a href="#.html#" class="twitter"></a></li>
								<li><a href="#.html#" class="google"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container-out">
				<div class="row">
					<div class="col-sm-12">
						<div class="title title-section">
							<h2>Atividades</h2>
							<p>Proin malesuada justo sed lobortis dapibus.</p>
							<span class="sticker">
								<i class="icon icomoon-stats"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/flexible.png" alt="Flexible">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="56">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Lições dadas</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/date.png" alt="Date">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="861">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Aulas ministradas</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/updates.png" alt="Updates">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="2135">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Alunos aprovados</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/client.png" alt="Client">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="35">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Alunos formados</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="devider-margin-medium" />
				<div class="row">
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/documentation.png" alt="Documentation">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="12">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Livros publicados</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/post.png" alt="Post">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="36">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Artigos publicados</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/award.png" alt="Award">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="36">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Prêmios</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="iconbox iconbox-style1">
							<div class="iconbox-content">
								<div class="thumbnail">
									<img src="/static/core/uploads/images/icons/place.png" alt="Place">
								</div>
							</div>
							<div class="iconbox-heading">
								<div class="icon">
									<span class="counter" data-number="19">0</span>
								</div>
								<div class="title">
									<h3 class="h4">Congressos</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-out container-light">
				<div class="title title-section">
					<h2>Linhas de Pesquisa</h2>
					<p>Nam et lorem eget risus dictum venenatis sit amet nec lorem. Nunc luctus sit amet ligula dapibus aliquam.</p>
					<span class="sticker">
						<i class="icon fa fa-tasks"></i>
					</span>
				</div>
				<div class="skill-title">
					<h5>Matemática Exotérica</h5>
				</div>
				<div class="skill">
					<div class="bar animated" data-value="63">0%</div>
				</div>
				<div class="skill-title">
					<h5>Ciências Ocultas</h5>
				</div>
				<div class="skill">
					<div class="bar animated" data-value="28">0%</div>
				</div>
				<div class="skill-title">
					<h5>Filosofia do Impossível</h5>
				</div>
				<div class="skill">
					<div class="bar animated" data-value="80">0%</div>
				</div>
				<div class="skill-title">
					<h5>Estudo do Imponderável</h5>
				</div>
				<div class="skill">
					<div class="bar animated" data-value="100">0%</div>
				</div>
				<div class="skill-title">
					<h5>Análise do Indescritível</h5>
				</div>
				<div class="skill">
					<div class="bar animated" data-value="76">0%</div>
				</div>
			</div>
			<div class="title title-section">
				<h2>Trabalhos</h2>
				<p>Proin malesuada justo sed lobortis dapibus.</p>
				<span class="sticker">
					<i class="icon icomoon-pen"></i>
				</span>
			</div>
			<div class="grid-wrap">
				<section id="projects" class="grid" data-columns="4">
					<article class="project project-animated illustration photography">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/bicycle/bicycle_M.jpg" alt="Bicycle">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Pellentesque auctor nuncnunc nunc</h4><p>Fusce rutrum posuere felis sit amet suscipit. Ut lectus lorem, adipiscing ut lacinia a, suscipit vitae ipsum. Suspendisse malesuada justo ut odio sodales commodo.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">26</span>
							</p>
							<div class="title">
								<h2 class="h5">Pellentesque auctor nuncnunc nunc</h2>
								<p class="desc">eu commodo risus</p>
							</div>
						</div>
					</article>
					<article class="project project-animated illustration animation">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/city_gold_coast/city_gold_coast_M.jpg" alt="City Gold Coast">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Quisque</h4><p>Nullam vitae lorem eu orci convallis adipiscing at non elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">5</span>
							</p>
							<div class="title">
								<h2 class="h5">Quisque</h2>
								<p class="desc">ut sapien tempus</p>
							</div>
						</div>
					</article>
					<article class="project project-animated animation web">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/london_the_uk/london_the_uk_M.jpg" alt="London The Uk">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Nunc tincidunt</h4><p>Aenean pharetra commodo ipsum, quis consequat ante iaculis id. Donec ac dui vestibulum, dignissim nunc vitae, iaculis quam.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">18</span>
							</p>
							<div class="title">
								<h2 class="h5">Nunc tincidunt</h2>
								<p class="desc">mi non suscipit consectetur</p>
							</div>
						</div>
					</article>
					<article class="project project-animated illustration photography">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/lower_manhattan_skyline/lower_manhattan_skyline_M.jpg" alt="Lower Manhattan Skyline">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Mauris luctus pulvinar</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus id dui et auctor. Nulla vehicula enim purus, vitae elementum ante vulputate.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">37</span>
							</p>
							<div class="title">
								<h2 class="h5">Mauris luctus pulvinar</h2>
								<p class="desc">felis nec</p>
							</div>
						</div>
					</article>
					<article class="project project-animated photography">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/photographing_with_smartphone/photographing_with_smartphone_M.jpg" alt="Photographing With Smartphone">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Aenean auctor</h4><p>Suspendisse eget condimentum elit. Vestibulum dignissim cursus pulvinar. Suspendisse tempus eget enim nec euismod. Ut pharetra justo sed adipiscing pretium.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">58</span>
							</p>
							<div class="title">
								<h2 class="h5">Aenean auctor</h2>
								<p class="desc">erat in purus</p>
							</div>
						</div>
					</article>
					<article class="project project-animated illustration web animation">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/red_square/red_square_M.jpg" alt="Red Square">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Aenean</h4><p> Maecenas dapibus euismod nunc vel condimentum. Suspendisse dapibus fermentum tempor.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">11</span>
							</p>
							<div class="title">
								<h2 class="h5">Aenean</h2>
								<p class="desc">auctor erat in</p>
							</div>
						</div>
					</article>
					<article class="project project-animated design">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/sailing_ship_yachts/sailing_ship_yachts_M.jpg" alt="Sailing Ship Yachts">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Vestibulum tristique</h4><p>Fusce eget condimentum quam. Vestibulum nec sapien odio. Etiam vel neque et tortor molestie vehicula ornare mollis tortor. Quisque in scelerisque diam.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">4</span>
							</p>
							<div class="title">
								<h2 class="h5">Vestibulum tristique</h2>
								<p class="desc">nisl eu urna hendrerit</p>
							</div>
						</div>
					</article>
					<article class="project project-animated design web">
						<div class="project-heading">
							<div class="thumbnail">
								<img src="/static/core/uploads/images/content/sailing_yacht_boat/sailing_yacht_boat_M.jpg" alt="Sailing Yacht Boat">
							</div>
							<ul class="project-action">
								<li><a class="lightbox btn btn-icon-view" href="#.jpg" data-fancybox-title="<h4>Ut quam dolor</h4><p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent et facilisis diam. Suspendisse potenti.</p><p class='text-right'><a href='#.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
								<li><a class="link btn btn-icon-link" href="#.html"></a></li>
							</ul>
						</div>
						<div class="project-content">
							<p class="meta">
								<span class="meta-like">63</span>
							</p>
							<div class="title">
								<h2 class="h5">Ut quam dolor</h2>
								<p class="desc">vestibulum vitae</p>
							</div>
						</div>
					</article>
				</section>
			</div>
		</div>
	</div>
</div>
