<div class="row">
    <div class="col-sm-4">
        <table class="table table-title">
            <caption>Título da tabela</caption>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Código</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>