<div class="container-out">

    <div class="title title-section">
        <h2>Enjoy with new features</h2>
        <p>In facilisis eget nisi nec consectetur. Maecenas laoreet tellus varius, aliquet justo non, interdum metus.</p>
        <span class="sticker">
            <i class="icon fa fa-cogs"></i>
        </span>
    </div>

    <div class="row">

        <div class="col-sm-4" data-animate="bounceIn">
            <div class="iconbox iconbox-style3 iconbox-list">
                <div class="iconbox-heading">
                    <div class="icon">
                        <i class="fa fa-building"></i>
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="title">
                        <h5>Over 200+ icons from Awesome and Icomoon fonts</h5>
                    </div>
                    <div class="text">
                        <p>Sapien scelerisque donec lacus convallis ultricies, himenaeos felis lobortis aliquet</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" data-animate="bounceIn">
            <div class="iconbox iconbox-style3 iconbox-list">
                <div class="iconbox-heading">
                    <div class="icon">
                        <i>B</i>
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="title">
                        <h5>New Bootstrap 3.0</h5>
                    </div>
                    <div class="text">
                        <p>Egestas senectus risus faucibus lacus non, cursus tristique cursus aenean</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" data-animate="bounceIn">
            <div class="iconbox iconbox-style3 iconbox-list">
                <div class="iconbox-heading">
                    <div class="icon">
                        <i class="icomoon-droplet"></i>
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="title">
                        <h5>Multiple color schemes</h5>
                    </div>
                    <div class="text">
                        <p>Posuere purus eget magna class vulputate, magna consequat tincidunt potenti</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="push"></div>

    <div class="row">

        <div class="col-sm-4" data-animate="bounceIn">
            <div class="iconbox iconbox-style3 iconbox-list">
                <div class="iconbox-heading">
                    <div class="icon">
                        <i class="icomoon-stack"></i>
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="title">
                        <h5>Flexible page structure</h5>
                    </div>
                    <div class="text">
                        <p>Massa cras odio magna nullam eleifend, libero leo consectetur quis</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" data-animate="bounceIn">
            <div class="iconbox iconbox-style3 iconbox-list">
                <div class="iconbox-heading">
                    <div class="icon">
                        <i class="icomoon-code"></i>
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="title">
                        <h5>Clean code</h5>
                    </div>
                    <div class="text">
                        <p>Vitae curae habitasse amet augue class, rutrum vivamus rhoncus pretium</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" data-animate="bounceIn">
            <div class="iconbox iconbox-style3 iconbox-list">
                <div class="iconbox-heading">
                    <div class="icon">
                        <i class="icomoon-support"></i>
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="title">
                        <h5>Free updates and support</h5>
                    </div>
                    <div class="text">
                        <p>Feugiat vehicula augue habitasse primis per, senectus accumsan nisi himenaeos</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr class="devider-margin-big" />

    <div class="thumbnail" data-animate="rollIn">
        <img src="/static/images/sergey-zolkin-m9qMoh-scfE-unsplash.jpg" alt="Macbook-preview">
    </div>

</div>