<aside id="page-header" class="page-header-image page-header-medium " style="background-image:url(./static/images/page/headers/user.jpg)">
    <div class="page-header-inner">
        <div class="page-header-content">
            <div class="container">
                <h1 class="hide-to-left">John Doe</h1>
                <p class="hide-to-right lead">Teacher and good man</p>
            </div>
        </div>
    </div>
    <div class="breadcrumbs hide-to-bottom">
        <div class="container">
            <ul>
                <li><a href="/" class="home"></a></li>
                <li><a href="#">Pages</a></li>
                <li class="current"><a href="#">Teacher</a></li>
            </ul>
        </div>
    </div>
</aside>