<div class="widget">
    <div class="widget-content">
        <form action="/{{language}}/search" method="GET">
            <button type="submit" class="btn btn-big btn-icon-search"></button>
            <div class="form-field">
                <div class="placeholder">
                    <label for="query">{{translation.siteSearch}}</label>
                    <input class="form-control" type="text" maxlength="100" name="query" id="query">
                </div>
            </div>
        </form>
    </div>
</div>