<div class="container-out container-light">
    <div class="row-inline-wrap">
        <div class="row row-inline">
            <div class="col-sm-6" data-animate="bounceInLeft">
                <img src="{{data.spotlight.image.src}}">
            </div>
            <div class="col-sm-6" data-animate="bounceInRight">
                <div class="title">
                    <h3>{{data.spotlight.title}}</h3>
                </div>
                <div class="text">
                    <p>{{{data.spotlight.text}}}</p>
                </div>
            </div>
        </div>
    </div>
</div>