@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qkwmw9');
  src:  url('fonts/icomoon.eot?qkwmw9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qkwmw9') format('truetype'),
    url('fonts/icomoon.woff?qkwmw9') format('woff'),
    url('fonts/icomoon.svg?qkwmw9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Video:before {
  content: "\e909";
}
.icon-Url:before {
  content: "\e908";
}
.icon-Home:before {
  content: "\e907";
}
.icon-Bibtex:before {
  content: "\e900";
}
.icon-Dataset:before {
  content: "\e901";
}
.icon-Doi:before {
  content: "\e902";
}
.icon-Lattes:before {
  content: "\e903";
}
.icon-Orcid:before {
  content: "\e904";
}
.icon-PDF:before {
  content: "\e905";
}
.icon-Scholar:before {
  content: "\e906";
}
