<div id="content">
    <div class="container-out">
        <div class="title">
            <h3>Abas verticais</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="tab tab-vertical tab-colored">
                    <ul class="tab-heading col-sm-4">
                        <li class="current">
                            <h6><a href="#">Vertical tab title</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">Vertical tab title</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">Vertical tab title</a></h6>
                        </li>
                    </ul>
                    <div class="tab-content col-sm-8">
                        <div class="current">
                            <div class="text">
                                <p>Curabitur ante dolor condimentum accumsan at integer curabitur, maecenas commodo neque suspendisse sollicitudin torquent, lobortis dui etiam convallis malesuada cursus. Commodo fusce leo urna eu viverra blandit egestas</p>
                            </div>
                        </div>
                        <div>
                            <div class="text">
                                <p>Senectus cursus et metus ac id dictumst lectus volutpat urna litora, ligula cursus id tristique feugiat tellus integer auctor pulvinar, netus fringilla faucibus elit vestibulum sem ipsum ut etiam. Sed arcu ipsum per taciti</p>
                            </div>
                        </div>
                        <div>
                            <div class="text">
                                <p>Commodo curabitur elit hac ad quam habitant condimentum justo suscipit class, porttitor senectus diam vulputate diam torquent nibh ut dictumst aenean, ligula lectus turpis nostra platea placerat iaculis sociosqu nullam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>