<div id="page-content" role="main">
    <div class="container">
        <div id="content">
            <header class="devider-bottom devider-heavy devider-margin-medium">
                <h1>{{data.category.name}}</h1>
                <p class="excerpt">{{{data.category.description}}}</p>
            </header>

            {{> postsList }}

            {{> pagination }}
            
        </div>
    </div>
</div>